.about-img{
    height: 400px;
    width: 1375px;
    padding: auto;

}

.content{
    position: absolute;
}
.head{
    position: relative;
    font-family: "Roboto Slab", serif;
}
.traveler-img{
    height: 400px;
    padding-left: 50%;
}
.btns{
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}

.buot{
 display: flex;
  border: none;
  background-color: rgb(245, 230, 16);
  height: 80px;
  width: 300px;
  box-shadow: 0 0 5px 1px #000;
}
.buot:hover{
  background-color: yellow;
}
.icon{
  display: inline;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-bottom: 5px;
  font-size: 20px;
}
.p{
  font-family: "Roboto Slab", serif;
  display: block;
  text-align: center;
  font-size: 20px;
}
.btn1{
  padding: 10px 20px;
  margin: 10px 350px;
  background-color: yellow;
  border: 1px solid rgb(252, 248, 5);
  border-radius: 10px;
  font-size: 20px;
}
.find{

  text-decoration: none;
  font-size: 36px;
  font-family: "Roboto Slab", serif;
  color: yellow;
  margin-left: 10px;
}

.flex{
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}

.text{
 font-family: "Roboto Slab", serif;
text-align: center;
justify-content: center;


}


@media screen and (max-width:756px){
.about-img {
height: 500px;
width: 100%;

}

.head{
position: relative;
display: flex;
flex-wrap: wrap;
font-size: 10px;
}
.traveler-img{
height: 50%;
width: 50%;
}
.btns{
position: sticky;
}
.btn1{
  display: block;
}
.find{
  margin-left: 40px;
}
}