@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


.container-footer{
  align-items: center;
}
.news-btn{
width: 130px;
}
.main-logo{
  margin-right:100px;
  height:70px;
  width: 70px;
}
.newsletter {
  position: relative;
  align-items: center;
  width:40%;
  margin:20px auto;
background-color: #d0e5e9;
padding: 20px;
border-radius:20px;
}
.newsletter h3 {
color: #333;
margin-bottom: 10px;
}
.newsletter p {
color: #666;
margin-bottom: 10px;

}
.newsletter input[type="email"] {
padding: 10px;
width: 70%;
border: 1px solid #ccc;
border-radius: 5px;
margin-bottom: 10px;
}
.newsletter input[type="submit"] {
padding: 10px 20px;
background-color: #49e4ff;
color: black;
border: none;
border-radius: 5px;
cursor: pointer;
}
.newsletter input[type="submit"]:hover {
background-color: #90eeff;
}
.email-input {
width: 300px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
margin:10px auto;
margin-bottom: 10px;
}
.error-message {
color: red;
}
.footer {
background-color: black;
padding: 40px;
color: white; 
}
.footer-body{
max-width: 1200px;
margin: 0 auto;
}
.footer-head h5{
color: white; 
margin-bottom: 20px;
}
.footer-container{
display: flex; 
flex-wrap: wrap; 
align-items: flex-start; 
justify-content: space-between;
}
.footer-head h5{
width: 25px; 
height: 25px;
color: #333; 
margin-top:5px;
margin-bottom: 20px; 
}
.footer-container2{
display:block;
justify-content: space-between;
}
.footer-contact-us, .footer-contact {
color: #666;
text-decoration: none;
}

.footer-contact-us:hover {
color: rgb(255, 187, 0);
}
.footer-quick-links{
color: rgb(125, 124, 124);
margin-bottom: 5px;
text-decoration:none;
}
.footer-quick-links:hover{
color: rgb(255, 187, 0);
margin-bottom: 5px;
}
.footer-icon-container{
margin-bottom: 10px;
text-decoration: none;
color: rgb(125, 124, 124);
}
.footer-icon{
margin-right:3px;
width: 30px;
height: auto;
}

.navbar{
  width:100%;
  padding:20px;
  }
  .nav-option{
      padding: 5px;
  }
  .nav-item{
    margin:0 3px;
  }
.main-logo{
  margin-right:100px;
  height:70px;
  width: 70px;
}


.gallery {
  width:auto;
  display: flex;
  overflow-x: scroll;
}
.roboto-condensed-uniquifier{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.gallery div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  padding: 25px;
  flex: none;
}
.gallery div img {
  width: 100%;
  
}
.slider-img{
  height:250px;
  border-radius: 50%;
}
.img-title{
  text-align: center;
}
.gallery::-webkit-scrollbar {
  display: none;
}
.gallery-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
}
#backBtn,#nextBtn {
  width: 50px;
  cursor: pointer;
  margin: 40px;
}
.gallery div img:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 2px 15px 5px #ffff72;
  transition: 0.3s;
}






.mission{
  height: 350px;
  width: 600px;
  display: block;
  margin: 0px auto;
  border-radius: 30px;
  box-shadow: 0px 2px 5px 2px rgb(10, 10, 10);
  background-color: #f5f2f2;
  padding: 10px 20px;
}
.about-img{
    height: 300px;
    width: 1375px;
    padding: auto;

}
.teammber-img{
  height: 300px;
  border-radius: 10px;
  width: 300px;
}

.content{
    position: absolute;
    height: 500px;
}
.head{
  font-size: 30px;
    position: relative;
    font-family: "Roboto Condensed", sans-serif;
    width: 600px;
    
}
@media screen and (max-width: 600px){
  .head{
    width: 300px;
    font-size:5px;
}
.content{
  width:300px;
}
}
.traveler-img{
    height: 300px;
    padding: 50%;
}

.btns{
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}

.buot{
 display: flex;
 background-color: #d0e5e9;
  border: none;
  height: 80px;
  width: 300px;
  box-shadow: 0 0 5px 1px #000;
}
.buot:hover{
  border: 2px solid gray;
  transition: 0.5s;
  background-color:  rgb(255, 187, 0);
  border-radius:50px;
}

.icon{
  display: inline;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-top: 0px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.icon1 {
  display:flex;
  direction: row;
  justify-content: space-around;
  border-radius:50%;
  height: 80px;
  width: 80px;
  align-items: center;
  font-size: 20px;
}
.p{
  font-family: "Roboto Condensed", sans-serif;
  display: block;
  text-align: center;
  font-size: 20px;
}
.btn1{
  padding: 10px 20px;
  margin: 10px 350px;
  border: 1px solid rgb(252, 248, 5);
  border-radius: 10px;
  font-size: 20px;
}

.col-review{
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 5px 50px 5px 50px;
  display: block;
  margin: 30px auto;
  width: 300px;
  border: 1px solid #afafaf;;
  box-shadow: 0 0 2px 1px #afafaf;
  height: 300px;
}
.col-review:hover{
  border-radius: 10px;
  box-shadow: 0 0 4px 1px #868686;

}
.d-flex{
  justify-content: center;
  align-items: center;
}
.find{

  text-decoration: none;
  font-size: 36px;
  font-family: "Roboto Condensed", sans-serif;

  margin-left: 10px;
}
.rating-img{
  height: 150px;
  margin-top: 0px;
  margin-bottom: 100px;
}
.flex{
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}

.text{
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
justify-content: center;


}
.bg-img{
  background-image: 
  url('../img/about_img/about.webp');
     background-size: cover;
     color: yellow;
     font-size: 36px;
     background-repeat: no-repeat;
     padding: 150px 50px;
     margin-bottom: 30px;
   text-align:center;
  }	

.roboto-condensed-uniquifier{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


@media screen and (max-width:756px){
.about-img {
height: 500px;
width: 100%;

}

.head{
position: relative;
display: flex;
flex-wrap: wrap;
font-size: 5px;
}

.btns{
position: sticky;
}
.btn1{
  display: block;
}
.find{
  margin-left: 40px;
}
.traveler-img{
  width: 90%;
}
.mission{
  width: 90%;
  height: 550px;
}
.slider-img{
  height: 200px;
}
}