.roboto-condensed-uniquifier{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.navbar{
  width:100%;
  padding:20px;
  }
  .nav-option{
      padding: 5px;
      font-family:  "Roboto Condensed", sans-serif;
  }
  .nav-item{
    margin:0 3px;
  }
.main-logo{
  margin-right:100px;
  height:70px;
  width: 70px;
}
.blog_image_container {
    height: 600px !important;
    width: 100% !important;
    background: url('./../img/blog_img/main.png');
    opacity: 95px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
        .caption-main{
          font-size: 55px;
          color:white;
          width:950px;
          font-family:;
          margin-top:60px;
          margin-bottom:0px; 
          padding:0px;
        }
        
        .post-container{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin:auto;
          width:90%;
          padding: 20px;
        }
        .post{
          width: 48%;
          padding: 10px;
          margin-bottom: 30px;
        }
        .post-img{
         width:95%;
         border-radius: 10px;
        }
        .post-review{
          display:flex;
          margin-top: 5px;
          justify-content: space-evenly;
        }
        .like-container{
          margin:3px -10px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
        }
        .btn-like{
          margin:5px 30px;
        }
        .like-btn, .dislike-btn {
          background-color:transparent;
          color: white;
          font-size:larger;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
        .like-btn:hover{
          font-size:21px;
          transition: 0.5s;
        }
        .dislike-btn:hover{
          font-size:21px;
          transition:0.5s;
        }
        .like-count {
          margin-left: 10px;
        }
        .post-comment{
          justify-content: space-evenly;
          background-color:#d0e5e9;
          border-radius:20px;
          position: relative;
          align-items: center;
          width:500px;
          margin-top: 10px;
        }
        .comment{
          width: 98%;
          height: 50px;
          border-radius: 5px;
          margin-bottom: 10px;
         
        }
         .container-footer{
          align-items: center;
        }

        .newsletter {
          position: relative;
          align-items: center;
          width:600px;
          margin:20px auto;
      background-color: #d0e5e9;
      padding: 20px;
      border-radius:20px;
    }
    .newsletter h3 {
      color: #333;
      margin-bottom: 10px;
    }
    .newsletter p {
 
      color: #666;
      margin-bottom: 10px;
      
    }
    .newsletter input[type="email"] {
      padding: 10px;
      width: 70%;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    .newsletter input[type="submit"] {
      padding: 10px 20px;
      background-color: #49e4ff;
      color: black;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .newsletter input[type="submit"]:hover {
      background-color: #90eeff;
    }
    .email-input {
      width: 300px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin:10px auto;
      margin-bottom: 10px;
  }
  .error-message {
      color: red;
  }
        .footer {
      background-color: black;
      padding: 40px;
      color: white; 
    }
    .footer-body{
      max-width: 1200px;
      margin: 0 auto;
    }
    .footer-head h5{
      color: white; 
      margin-bottom: 20px;
    }
    .footer-container{
      display: flex; 
      flex-wrap: wrap; 
      align-items: flex-start; 
      justify-content: space-between;
    }
    .footer-head h5{
      width: 25px; 
      height: 25px;
      color: #333; 
      margin-top:5px;
      margin-bottom: 20px; 
    }
    .footer-container2{
      display:block;
      justify-content: space-between;
    }
    .footer-contact-us, .footer-contact {
    color: #666;
    text-decoration: none;
}

.footer-contact-us:hover {
  color: rgb(255, 187, 0);
}
.footer-quick-links{
  color: rgb(125, 124, 124);
  margin-bottom: 5px;
  text-decoration:none;
}
.footer-quick-links:hover{
  color: #4c29cc;
  margin-bottom: 5px;
}
.footer-icon-container{
  margin-bottom: 10px;
  text-decoration: none;
  color: rgb(125, 124, 124);
}
.footer-icon{
  margin-right:3px;
  width: 30px;
   height: auto;
}