.main-booking{
    background: url('./../img/booking_img/bg-aroplane-img.jpg');
    opacity: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-train.bg-train{
    height: 500px !important;
    width: 100% !important;
    background: url('./../img/booking_img/train-bg-img.jpg');
    opacity: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    
}

.bg-plane{
    height: 1150px !important;
    width: 100% !important;
   
    position: relative;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;

}
.bg-hotels{
    height: 1150px !important;
    width: 100% !important;
    background: url('./../img/booking_img/bg-hotels-img.avif');
    opacity: 2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;

}
.container{
    height: 50%;
    border:1px solid rgb(156, 147, 147);
    width: 500px;
    background-color: transparent;
    margin: 50px auto;
    backdrop-filter: blur(10px);
    justify-content: center;
}
.container:hover{
        box-shadow: 0px 4px 8px 0px black;
        border-radius: 15px;
    }
    .element{
        width: 100%;
        height: 40px;
        border:0.5px solid black;
    }
.container-train{
    height: 80%;
    width: 600px;
    background-color: transparent;
    margin: 50px auto;
    backdrop-filter: blur(10px);
    justify-content: center;
}
.border-head{
    border-radius: 25px;
}

.form {
    margin-top: 100px;
    display: block;
    justify-content: center;
    }
    label{
            
        display: block;
        margin-bottom: 5px;
    }
    .input{
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: white;
    

    }
    input[type="text"],
    input[type="date"],
    input[type="#"],
    input[type="submit"] 
    {
            width: 70%;
            padding: 25px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 15px;
            background-color: white;
            
    }
    input[type="submit"]:hover {
        background-color: #ffc107;
    }
    .travelers-inc-dec{
            margin-left: 35%;
            width: 30%;
            padding: 25px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 15px;
            justify-content: center;
            background-color: white;
            
    }
    
         .menu{
            color: black;
            padding: 10px 20px;
            margin: 0 10px;
            border-radius: 5px;
            transition: background-color 0.3s;
         }
         .menu:hover {
            background-color: #555;
             }
        
        .btn-quantity{
            height: 35px;
            justify-content: center;

        }
        .already{
            font-size: 25px;
           
            margin: auto 10px;
            cursor: pointer;
        }
        .container-train{
            display: block;
            justify-content: center;
            text-align: center;
            margin-bottom: 5px;
       
        }
        .navbar{
            width:100%;
            padding:20px;
            }
            .nav-option{
                padding: 5px;
                
            }
            .nav-item{
              margin:0 3px;
            }
          .main-logo{
            margin-right:100px;
            height:70px;
            width: 70px;
          }

          
/* footer css */
.container-footer{
    align-items: center;
  }
.news-btn{
  width: 130px;
}
  .newsletter {
    position: relative;
    align-items: center;
    width:40%;
    margin:20px auto;
background-color: #d0e5e9;
padding: 20px;
border-radius:20px;
}
.newsletter h3 {
color: #333;
margin-bottom: 10px;
}
.newsletter p {
color: #666;
margin-bottom: 10px;

}
.newsletter input[type="email"] {
padding: 10px;
width: 70%;
border: 1px solid #ccc;
border-radius: 5px;
margin-bottom: 10px;
}
.newsletter input[type="submit"] {
padding: 10px 20px;
background-color: #49e4ff;
color: black;
border: none;
border-radius: 5px;
cursor: pointer;
}
.newsletter input[type="submit"]:hover {
background-color: #90eeff;
}
.email-input {
width: 300px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
margin:10px auto;
margin-bottom: 10px;
}
.error-message {
color: red;
}
 
.container-footer{
    align-items: center;
  }

  .newsletter {
    position: relative;
    align-items: center;
    width:600px;
    margin:20px auto;
background-color: #d0e5e9;
padding: 20px;
border-radius:20px;
}
  .footer {
background-color: black;
padding: 40px;
color: white; 
}
.footer-body{
max-width: 1200px;
margin: 0 auto;
}
.footer-head h5{
color: white; 
margin-bottom: 20px;
}
.footer-container{
display: flex; 
flex-wrap: wrap; 
align-items: flex-start; 
justify-content: space-between;
}
.footer-head h5{
width: 25px; 
height: 25px;
color: #333; 
margin-top:5px;
margin-bottom: 20px; 
}
.footer-container2{
display:block;
justify-content: space-between;
}
.footer-contact-us, .footer-contact {
color: #666;
text-decoration: none;
}

.footer-contact-us:hover {
color: rgb(255, 187, 0);
}
.footer-quick-links{
color: rgb(125, 124, 124);
margin-bottom: 5px;
text-decoration:none;
}
.footer-quick-links:hover{
color:rgb(255, 187, 0);
margin-bottom: 5px;
}
.footer-icon-container{
margin-bottom: 10px;
text-decoration: none;
color: rgb(125, 124, 124);
}
.footer-icon{
margin-right:3px;
width: 30px;
height: auto;
}

