@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  background-color: transparent;
  
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3); 
}


.navbar-toggler {
  color: #000000; 
}


.navbar-collapse {
  display: none; 
}


@media (max-width: 768px) {
  
  .navbar-collapse {
    display: block;
  }

  
  .main-logo {
    display: none;
  }

  .sgn {
    display: none;
  }

  .navbar-toggler {
    display: block;
  }
  .navbar-nav {
    text-align: center;
  }

 
  .nav-item {
    margin-bottom: 10px; 
  }
}


.map-main-img {
  padding-bottom: 15px;
}
.img-map {
  display: block;
  margin: 0 auto;
  width: 90%;
  margin-top: 5px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  border-color: #ffc107;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.column-2 {
  display: block;
  backdrop-filter: blur(20px);
  width: 100%;
  margin-bottom: 15px;
  margin-top: -15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px  rgba(0, 0, 0, 0.5);
  border-color:  black;
  transition: transform 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
}

.column-2:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25 );
  transition: 0.3s;
}

/* Header Styles */
.breadcrumb-section {
  width: 100%;
  display: block;
  color: #fff;

}
.breadcrumb-section img {
  width: 100%;
  object-fit: cover;
}

.breadcrumb-section h1 {
  color: #ffc107 ;
  font-weight: bolder;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  font-size: 90px;
  justify-content: center;
  align-items: center;
  

}

/* Contact Info Styles */
.contact-info {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.info-item {
  margin-bottom: 15px;
}
.nom{
  margin-bottom: 40px;
}
.hhh{
    text-align: center;
    color: #ffc107;
    font-weight:bolder;    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    font-size: 40px;
  }
  .hn{
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  }
.info-item i {
  margin-right: 5px;
  font-size: 24px;
  color: #ffc107;
}

.info-item p {
  padding: 20px;
  border: 1px solid  #997300;
  border-radius: 8px;
  font-size: 18px;
  margin: 0;
}

/* Form Styles */
.form-inner {
  margin-bottom: 20px;
}

.form-inner label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 5px;
}
.main{
  margin-bottom: -20px;
  padding-bottom: 10px;
  background-image: url("./../img/contact_img/contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.breadcrumb-section{
  height: 400px;
  width: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.primary-btn1 {
  background-color: #ffc107;
  color: black;
  border: none;
  padding: 10px 20px;
  border-color: #ffc107;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.primary-btn1:active {
  border-color: #e6ac00;
}
.primary-btn1:hover {
  background-color: #e6ac00;
  border-color: #e6ac00;
}
.col-md-6 {
  margin-bottom: 20px;
}
.contact-info,
.contact-form {
  margin-bottom: 30px;
}
/* Responsive Styles */
@media screen and (min-width: 768px) {
  .column-2 {
    width: 48%;
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding: 40px;
  }

  .column-2 {
    width: 45%;
  }
}
 
@media (max-width: 768px) {
  .footer-container2,
  .footer-container {
     width: 100%;
   }
 }
 @media (max-width: 768px) {
  .footer-container2 > div,
  .footer-container > div {
     display: flex;
     flex-direction: column;
     align-items: center;
   }
 
  .footer-head {
     margin-bottom: 10px;
   }
 }
 .navbar{
    width:100%;
    padding:20px;
    }
    .nav-option{
        padding: 5px;
        
    }
    .nav-item{
      margin:0 3px;
      
    }
    .fa-solid.fa-user-plus {
      color: black;
  }
    .nav-link {
      color: black;
      font-weight: bold;
  }
  
  .main-logo{
    margin-right:100px;
    height:70px;
    width: 70px;
  }
  @media (max-width: 767.98px) {
    .column-2 {
        width: 100%;
      }
    
    .info-item {
        text-align: center;
      }
    
    .contact-form {
        margin-top: 30px;
      }
    }
    @media (max-width: 767.98px) {
      .map-main-img {
          width: 100%;
        }
      
      .img-map {
          width: 100%;
          height: auto;
        }
      }
      @media (max-width: 767.98px) {
        .newsletter {
            width: 100%;
          }
        
        .email-input {
            width: 100%;
          }
        
        .btn {
            margin-top: 10px;
          }
        }