body{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    background-image: url(../img/jake-blucker-tMzCrBkM99Y-unsplash.jpg);
    background-size: cover;
}
.navbar{
    width:100%;
    padding:20px;
    }
    .nav-option{
        padding: 5px;
        font-family: "Roboto Condensed", sans-serif;
    }
    .nav-item{
      margin:0 3px;
    }
  .main-logo{
    margin-right:100px;
    height:70px;
    width: 70px;
  }
.card{
    height: 100%;
    width: 450px;
    background-color: transparent;
    margin: 50px auto;
    backdrop-filter: blur(10px);
}
.card:hover{
    box-shadow: 0px 4px 8px 0px black;
    border-radius: 15px;
}
.element{
    width: 100%;
    height: 30px;
}
.text{
    border: 1px solid black;
    width: 100%;
    height: 40px;
}
.text:hover{
    box-shadow: 0px 4px 8px 0px black;
}
.form-user{
    margin-bottom: 20px;
}
.button{
    width: 100%;
    border-radius: 25px;
    text-align: center;
}
.reset-pass{
    text-decoration: none;
    margin-left: 75px;
}
.forgot-pass{
    text-decoration: none;
    margin-left: 100px;
}
.log-page{
    text-decoration: none;
    margin-left: 5px auto;
}
.or{
    text-align: center;
    font-size: 20px;
    margin: 15px;
}
.log-btn{
    font-size: 20px;
}
.account{
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}
.reset{
    text-decoration: none;
}
@media screen and (max-width:756px){
    .card{
        width: 50%;
    }
}
.text{
    width: 90%;
}
