.roboto-condensed-uniquifier{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.navbar{
    width:100%;
    padding:20px;
    }
    .nav-option{
        padding: 5px;
        font-family: "Roboto Condensed", sans-serif;
    }
    .nav-item{
      margin:0 3px;
    }
  .main-logo{
    margin-right:100px;
    height:70px;
    width: 70px;
  }
  
  

.heading {
    text-align: center;
    font-weight: bold;
    font-size: 80px;
    font-family: "Roboto Condensed", sans-serif;
}
.card-title {
    font-weight: bold;
}
.blog_image_container {
    height: 550px !important;
    width: auto !important;
    background: url('./../img/destinations_img/background8.jpeg');
    opacity: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
        .caption-main{
          font-size: 55px;
          color:#ffffff;
          width:950px;
          text-align: center;
          font-family: "Roboto Condensed", sans-serif;
          font-weight: bold;
          
         
          margin-top:60px;
          margin-bottom:0px; 
          padding:0px;
        }

.gallery {
    width:auto;
    display: flex;
    overflow-x: scroll;
}
.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    padding: 25px;
    flex: none;
}
.gallery div img {
    width: 100%;
    filter: grayscale(60%);
    transition: trnsform(0.5s);
}
.slider-img{
    height:500px;width: auto;
}
.img-title{
    text-align: center;
}
.gallery::-webkit-scrollbar {
    display: none;
}
.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}
#backBtn,#nextBtn {
    width: 50px;
    cursor: pointer;
    margin: 40px;
}
.gallery div img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 2px 15px 5px #ffff72;
    transition: 0.3s;
}
/* //footer-css */

.container-footer{
    align-items: center;
  }

  .newsletter {
    position: relative;
    align-items: center;
    width:600px;
    margin:20px auto;
background-color: #d0e5e9;
padding: 20px;
border-radius:20px;
}
.newsletter h3 {
color: #333;
margin-bottom: 10px;
}
.newsletter p {
color: #666;
margin-bottom: 10px;

}
.newsletter input[type="email"] {
padding: 10px;
width: 70%;
border: 1px solid #ccc;
border-radius: 5px;
margin-bottom: 10px;
}
.newsletter input[type="submit"] {
padding: 10px 20px;
background-color: #49e4ff;
color: black;
border: none;
border-radius: 5px;
cursor: pointer;
}
.newsletter input[type="submit"]:hover {
background-color: #90eeff;
}
.email-input {
width: 300px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
margin:10px auto;
margin-bottom: 10px;
}
.error-message {
color: red;
}
  .footer {
background-color: black;
padding: 40px;
color: white; 
}
.footer-body{
max-width: 1200px;
margin: 0 auto;
}
.footer-head h5{
color: white; 
margin-bottom: 20px;
}
.footer-container{
display: flex; 
flex-wrap: wrap; 
align-items: flex-start; 
justify-content: space-between;
}
.footer-head h5{
width: 25px; 
height: 25px;
color: #333; 
margin-top:5px;
margin-bottom: 20px; 
}
.footer-container2{
display:block;
justify-content: space-between;
}
.footer-contact-us, .footer-contact {
color: #666;
text-decoration: none;
}

.footer-contact-us:hover {
color: rgb(255, 187, 0);
}
.footer-quick-links{
color: rgb(125, 124, 124);
margin-bottom: 5px;
text-decoration:none;
}
.footer-quick-links:hover{
color: #4c29cc;
margin-bottom: 5px;
}
.footer-icon-container{
margin-bottom: 10px;
text-decoration: none;
color: rgb(125, 124, 124);
}
.footer-icon{
margin-right:3px;
width: 30px;
height: auto;
}
