*{
    padding: 0;
    margin: 0;
}
/*nav bar*/
.roboto-condensed-uniquifier{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.navbar{
  width:100%;
  padding:;
  font-size: 14px;
  }
  .nav-option{
      padding: 5px;
      
  }
  .nav-item{
    margin:0 3px;
  }
.main-logo{
  margin-right:100px;
  height:70px;
  width: 70px;
}

/*carousel css*/
.sliderbg{
  background-image: url(./../img/packages_img/australia/reef1.jpg);
  backdrop-filter: blur(10px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.applycss{
  width: 58%;
  margin:0 auto;


}
.carousel-caption{
  font-size: 25px;
  font-weight: 800;

}

/*cards styling*/


.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    height: 500px; 

}
.img-container{
    display: flex;
    justify-content: center;
    align-items:baseline;
    flex-wrap: wrap;
    margin-bottom: -25px;
    margin: 0 10px;
}
.img-container img{ height: 150px; cursor: pointer; margin-top: 7%; 
 
}

.heading{
    height: 600px;
    width: auto;
    background-image: url("./../img/packages_img/background/background.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    
}
.heading1{
    height: 600px;
    width: auto;
    background-image: url("./../img/packages_img/background/bg1.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
}
.border{
    border: 1px solid white;

}
.heading1:hover, .heading2:hover, .heading3:hover, .heading4:hover{
    border-radius: 1px solid;
}
.heading2{
    height: 600px;
    width: auto;
    background-image: url("./../img/packages_img/background/bg2.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    
}
.heading3{
    height: 600px;
    width: auto;
    background-image: url("./../img/packages_img/background/bg3.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    
}
.heading4{
    height: 600px;
    width: auto;
    background-image: url("./../img/packages_img/background/bg4.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    
}


.jost-font {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-size: 70px;
  width: 37%;
  text-wrap: wrap;
  font-style: normal;
  text-align: center;
  margin-left: 17%;
  padding-top: 5%;
  /* padding-left: 20px;
  padding-top: 60px;
  margin-left: 200px; */
}
button{
    width: 50%;
    margin:10px auto;
    
}
.card .card-img-top{
  cursor: pointer;
  

}
h5 img{
    height: 5vh;
    
}
.card .card-img-top:hover{
  transition: 0.3s;
  opacity: 0.5;
}


/* css for the all the packages page starts fron here */

/*  packages cards  */

.image-effect:hover{
  box-shadow: 0 0 3px 1px grey;
  transition:1s;
  1sec-webkit-transition: 1sec;
  -moz-transition:1s;
  -ms-transition:1s;
  -o-transition:1s;
  -webkit-transition:1s;
}


.australia .image-effect{
  
  width: 95%;
  margin: 30px auto;

    
}
.australia .image-effect .card-img{
  height: auto;
object-fit: cover;

}
.australia .image-effect .card-img:hover{
    opacity: 0.7;
    transition:1s ;
    -webkit-transition:1s ;
    -moz-transition:1s ;
    -ms-transition:1s ;
    -o-transition:1s ;
}




  .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .awesome-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  @media screen and (max-width:700px) {

    .applycss{
      width: 100%;
      margin:0 auto;
    }
    .australia .image-effect{
      width: 80%;
      flex-wrap:wrap ;
      display: flex;
      
      font-size: 20px;
     
    }
    .img-container img{ height: 50px;
       cursor: pointer; 
       margin-top: px; 
 
    }
    
    .second{
      visibility: hidden;
      display: none;
    }
    .third{
      visibility: hidden;
      display: none;
    }
    .containerof {
      position: relative;
      
      width: 100vh;
      padding: 10px;
    }
    
    .image {
      display: block;
      width: 100%;
      height: auto;
      

    }
    .jost-font{
      font-size: 2em;
      width: 60%;
    }
    
    .overlay {
      position: absolute;
      border-radius: 10px;
      bottom: 100%;
      left: 0;
      right: 0;
      background-color:rgb(126, 122, 116);
      overflow: hidden;
      width: 100%;
      opacity: 0.8;
      height:0;
      transition: .5s ease;
      -webkit-transition: .5s ease;
      -moz-transition: .5s ease;
      -ms-transition: .5s ease;
      -o-transition: .5s ease;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
  }
    
    .containerof:hover .overlay {
      bottom: 0;
      height: 100%;
     
    }
    
    .text {
     
      font-size: 18px;
      width: 200px;
      font-weight: 700;
      position: absolute;
      top: 60%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: justify;
    }

  }
  @media screen and (min-width:701px){
    .card-img-overlay{
      visibility: hidden;
      display: none;
    }
  }

  .icons i{
    background-color:rgb(35, 35, 77);
    padding: 15px;
    margin: 5px 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.icons i:hover{
  background-color: cadetblue;
}
/* end of the packages card*/  

/* Footer styling*/
/*Newsletter in footer*/
.container-footer{
  align-items: center;
}
.news-btn{
  width: 130px;
}

.newsletter {
  position: relative;
  align-items: center;
  width:600px;
  margin:20px auto;
background-color: #d0e5e9;
padding: 20px;
border-radius:20px;
}
.newsletter h3 {
color: #333;
margin-bottom: 10px;
}
.newsletter p {

color: #666;
margin-bottom: 10px;

}
.newsletter input[type="email"] {
padding: 10px;
width: 70%;
border: 1px solid #ccc;
border-radius: 5px;
margin-bottom: 10px;
}
.newsletter input[type="submit"] {
padding: 10px 20px;
background-color: #49e4ff;
color: black;
border: none;
border-radius: 5px;
cursor: pointer;
}
.newsletter input[type="submit"]:hover {
background-color: #90eeff;
}
.email-input {
width: 300px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
margin:10px auto;
margin-bottom: 10px;
}
.error-message {
color: red;
}
/*End of news letter*/

.footer {
  background-color: black;
  padding: 40px;
  color: white; 
}
.footer-body{
  max-width: 1200px;
  margin: 0 auto;
}
.footer-head h5{
  color: white; 
  margin-bottom: 20px;
}
.footer-container{
  display: flex; 
  flex-wrap: wrap; 
  align-items: flex-start; 
  justify-content: space-between;
}
.footer-head h5{
  width: 25px; 
  height: 25px;
  color: #333; 
  margin-top:5px;
  margin-bottom: 20px; 
}
.footer-container2{
  display:block;
  justify-content: space-between;
}
.footer-contact-us, .footer-contact {
color: #666;
text-decoration: none;
}

.footer-contact-us:hover {
color: rgb(255, 187, 0);
}
.footer-quick-links{
color: rgb(125, 124, 124);
margin-bottom: 5px;
text-decoration:none;
}
.footer-quick-links:hover{
color: #4c29cc;
margin-bottom: 5px;
}
.footer-icon-container{
margin-bottom: 10px;
text-decoration: none;
color: rgb(125, 124, 124);
}
.footer-icon{
margin-right:3px;
width: 30px;
height: auto;
}
/* Footer End */

